<div class="container-fluid ">
    <div class="wrapper primary d-flex justify-content-center align-items-center">
        <div
            class="card shadow-lg col-lg-6 col-md-8 col-sm-10 col-xs-12 d-flex justify-content-center align-items-center">
            <form id="contact" (ngSubmit)="submit()" [formGroup]="contact">
                <div class="container-fluid text-center text-header">
                    <p class="display-4">I'd love to hear from you!</p>
                    <p>You can get in touch with me via LinkedIn or you can drop me a line using this form.</p>
                </div>
                <div class="form-group">
                    <label for="name">Your name:</label>
                    <input type="text" id="name" placeholder="Name" formControlName="name">
                </div>
                <div class="form-group">
                    <label for="contacterEmail">Your email address:</label>
                    <input type="email" id="contacterEmail" placeholder="Email address" formControlName="email">
                </div>
                <div class="form-group">
                    <label for="subject">Subject:</label>
                    <input type="text" required id="subject" placeholder="Subject" formControlName="subject">
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" placeholder="Message" formControlName="message"></textarea>
                </div>
                <button type="submit" class="btn" [disabled]="!contact.valid">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="success">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">I've got mail!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Thanks for getting in touch, {{name}}! I will be in touch soon.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="retry">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Oops!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you mind submitting that again?</p>
            </div>
        </div>
    </div>
</div>