@import url('https://fonts.googleapis.com/css?family=Exo+2:100|Roboto:100');
.jumbotron-heading {
    font-family: 'Roboto', sans-serif;
    // text-transform: uppercase;

}
.text-muted {
    font-family: 'Exo 2', sans-serif;
}
.links {
    font-size: 2em;
    word-spacing: 2rem;
    .fa-linkedin:hover {
        transform: scale(1.1);
        color: rgb(51, 118, 176);
        transition: 0.4s all;
    }
    .fa-npm:hover {
        transform: scale(1.1);
        color: rgb(187, 68, 62);
        transition: 0.4s all;
    }
    .fa-github:hover {
        transform: scale(1.1);
        transition: 0.4s all;
    }
}
