<div class="container-fluid home-wrapper">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <span class="display-4 text-light" style="font-family: 'Exo 2', sans-serif;">Projects</span>
    </div>
    <div class="album py-5">
        <div class="container">
            <div class="card-columns">
                <div *ngFor="let item of data" class="card shadow">
                    <div class="card-header d-flex justify-content-between align-items-center"
                        style="font-family: 'Exo 2', sans-serif;">
                        <span>
                            {{item.title}}
                        </span>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary"
                                [disabled]="item.github == null" (click)="navigate(item.github)"><small>Code<i
                                        class="fab fa-github"></i></small></button>
                            <button type="button" class="btn btn-sm btn-outline-secondary"
                                [disabled]="item.live == null" (click)="navigate(item.live)"><small>Live<i
                                        class="fas fa-angle-right"></i></small></button>
                        </div>
                    </div>
                    <img *ngIf="item.image != null" (click)="toggleModal(item)" class="card-img-top" [src]="item.image">
                    <div *ngIf="item.image != null" class="w-100">
                        <hr class="col-4" />
                    </div>
                    <div *ngIf="item.images" [id]="camelize(item.images[0])" class="carousel slide carousel-fade "
                        data-ride="carousel">
                        <div class="carousel-inner">
                            <div *ngFor="let carouselImg of item.images; let j=index"
                                [ngClass]="j == 0 ? 'carousel-item active' : 'carousel-item'">
                                <img class="d-block w-100" (click)="toggleModal(item)" [src]="carouselImg">
                            </div>
                        </div>
                        <a class="carousel-control-prev" [href]="'#' + camelize(item.images[0])" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" [href]="'#' + camelize(item.images[0])" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon rimary" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <div class="w-100">
                            <hr class="col-4" />
                        </div>
                    </div>

                    <div class="card-body">
                        <p class="card-text">{{item.description}}</p>
                    </div>
                    <div class="card-footer">
                        <button *ngFor="let t of item.tech" type="button" class="btn"
                            [ngClass]="selected[camelize(t)] ? 'btn-success': 'btn-outline-secondary'"
                            (click)="tag(camelize(t))">
                            {{t}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade container-fluid" id="postExpand" tabindex="-1" role="dialog" aria-labelledby="postExpandTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <ng-container *ngIf="expandPost != null ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-secondary" id="postExpandTitle">{{expandPost.title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body container">
                    <img *ngIf="expandPost.image != null" class="card-img-top" [src]="expandPost.image">

                    <div *ngIf="expandPost.images" [id]="camelize(expandPost.images[0]) + Modal"
                        class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div *ngFor="let carouselImg of expandPost.images; let j=index"
                                [ngClass]="j == 0 ? 'carousel-item active' : 'carousel-item'">
                                <a><img class="d-block w-100" [src]="carouselImg"></a>
                            </div>
                        </div>
                        <a class="carousel-control-prev" [href]="'#' + camelize(expandPost.images[0]) + Modal"
                            role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" [href]="'#' + camelize(expandPost.images[0]) + Modal"
                            role="button" data-slide="next">
                            <span class="carousel-control-next-icon rimary" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal"
                        [disabled]="expandPost.github == null" (click)="navigate(expandPost.github)">View
                        Code</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" [disabled]="expandPost.live == null"
                        (click)="navigate(expandPost.live)">View Live
                        Website</button>
                </div>
            </div>
        </ng-container>
    </div>
</div>