<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Preetham Viswanathan</h1>
        <p class="lead text-muted">Full-time graduate student at Northeastern Univerisity. Full stack development
            enthusiast.</p>
        <p class="links">
            <a [href]="github" class="text-secondary"><i class="fab fa-github"></i></a>
            <a [href]="linkedIn" class="text-secondary"><i class="fab fa-linkedin"></i></a>
            <a [href]="npm" class="text-secondary"><i class="fab fa-npm"></i></a>
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div *ngFor="let item of data" class="col-md-4">
                <div class="card mb-4 shadow-sm">

                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span>
                            {{item.title}}
                        </span>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="navigate(item.github)"><i
                                    class="fab fa-github"></i></button>
                            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="navigate(item.live)">Live</button>
                        </div>
                    </div>
                    <img class="card-img-top" [src]="item.image">
                    <div class="card-body">
                        <p class="card-text">{{item.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>