@import url('https://fonts.googleapis.com/css?family=Exo+2:100|Roboto:100');

.jumbotron-heading {
    font-family: 'Roboto', sans-serif;
    // text-transform: uppercase;

}
.text-muted {
    font-family: 'Exo 2', sans-serif;
}
.links {
    font-size: 2em;
    word-spacing: 2rem;
    .fa-linkedin:hover {
        transform: scale(1.1);
        color: rgb(51, 118, 176);
        transition: 0.4s all;
    }
    .fa-npm:hover {
        transform: scale(1.1);
        color: rgb(187, 68, 62);
        transition: 0.4s all;
    }
    .fa-github:hover {
        transform: scale(1.1);
        transition: 0.4s all;
    }
}
img {
    padding: 10px;
}

.card-footer .btn {
    font-size: 0.8rem;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}

.btn i {
    margin-right: 5px;
    margin-left: 5px;
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
