<body data-spy="scroll" data-target="#stickyNav" data-offset="0">
    <section id="home" class="jumbotron text-center h-100">
        <div class="container-fluid h-100">
            <div class="row-fluid d-flex justify-content-center align-items-center h-100">
                <div class="card col-lg-4 col-md-8 col-xs-8 intro-card shadow-lg">
                    <div class="card-img-top">
                        <div class="card intro-header shadow-lg">
                            <div class="card-body">
                                <h1 class="jumbotron-heading">Hi, I'm Preetham Viswanathan.</h1>
                            </div>
                        </div>
                    </div>
                    <p class="lead text-muted">
                        I'm a candidate for Master of Science at Northeastern Univerisity. I'm a software engineering
                        and
                        web
                        development enthusiast looking to positively influence the
                        world.
                    </p>
                    <p class="links">
                        <a [href]="github" class="text-secondary"><i class="fab fa-github"></i></a>
                        <a [href]="linkedIn" class="text-secondary"><i class="fab fa-linkedin"></i></a>
                        <a [href]="npm" class="text-secondary"><i class="fab fa-npm"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <particles style="opacity: 0.5" [params]="particleParams" [style]="particleStyle" [width]="width" [height]="height">
    </particles>
    <div class="scroll-indicator"></div>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top shadow">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#stickyNav"
            aria-controls="stickyNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="stickyNav">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#home">HOME</a>
                <a class="nav-item nav-link" href="#projects">PROJECTS</a>
                <a class="nav-item nav-link" href="#experience">EXPERIENCE</a>
                <a class="nav-item nav-link" href="#contact">GET IN TOUCH</a>
            </div>
        </div>
    </nav>
    <app-home id="projects"></app-home>
    <app-experience id="experience"></app-experience>
    <app-contact id="contact"></app-contact>
</body>
<footer class="footer bg-dark">
    <div class="container-fluid text-center">
        <p class="links">
            <a [href]="github" class="text-secondary"><i class="fab fa-github"></i></a>
            <a [href]="linkedIn" class="text-secondary"><i class="fab fa-linkedin"></i></a>
            <a [href]="npm" class="text-secondary"><i class="fab fa-npm"></i></a>
        </p>
    </div>
</footer>