
$coral: #FF7A6C;
$yellow: #FFDC7B;
$gray: #84828E;
$onyx: #373449;
$rosegold: #ce8c91;
$fuchsia: #A24868;
$white: #EDEDED;
@import url('https://fonts.googleapis.com/css?family=Exo+2:100|Roboto:100');

* {
    font-family: 'Exo 2', sans-serif;
    font-weight: 1000;
}
.primary {
    background-color: $fuchsia;
}
.accent{
    background-color: $fuchsia;
}
.text-header {
    color: $fuchsia;
}
mgl-timeline .mgl-timeline-line {
    width: 2px;
}
.experience-wrapper {
    background-color: $fuchsia;
    padding-top: 4em;
}